<div class="container-center-horizontal">
    <div class="ipad-nexus-home-page screen">
        <div class="flex-col width-100">
            <div class="flex-row">
                <div class="flex-col-1">
                    <div class="raggruppa-23"></div>
                    <div class="rettangolo-3"></div>
                </div>
                <div class="navbar helveticaneue-regular-normal-white-18px">
                    <div class="navbar-link-vehicles-near-me pointer" (click)="redirect('/vehiclesNearMe')">Vehicles near me</div>
                    <div class="navbar-link-routines pointer" (click)="redirect('/routines')">Routines</div>
                    <div class="navbar-link-maps pointer" (click)="redirect('/maps')">Maps</div>
                    <div class="navbar-link-my-vehicles pointer" (click)="redirect('/myVehicles')">My vehicles</div>
                    <div class="navbar-link-enjoyed-vehicles pointer" (click)="redirect('/enjoyedVehicles')">Enjoyed vehicles</div>
                    <div class="navbar-link-notifications pointer" (click)="redirect('/notifications')">Notifications</div>
                </div>
                <div class="raggruppa-4 border-2px-cloud" (click)="redirect('/profile')">
                    <img class="businessman-with-arm pointer" src="assets/images/gends%20-%20Copy.png"/>
                </div>
            </div>
            <div class="raggruppa-container">
                <div class="raggruppa-269">
                    <div class="raggruppa-26">
                        <div class="raggruppa-26">
                            <div class="raggruppa-266">
                                <div class="overlap-group">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
