/* screen - ipad-nexus-home-page */

.ipad-nexus-home-page {
    align-items: flex-start;
    background-color: var(--white);
    display: flex;
    height: 768px;
    width: 1024px;
}

.ipad-nexus-home-page .flex-col {
    align-items: flex-start;
    background-image: url(../../../../assets/images/gruppo-di-maschere-1-1x-png@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 767px;
    padding: 19px 35px;
    width: 100%;
}

.ipad-nexus-home-page .flex-row {
    align-items: center;
    display: flex;
    min-width: 942px;
}

.ipad-nexus-home-page .flex-col-1 {
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.0px;
    min-height: 45px;
    width: 32px;
}

.ipad-nexus-home-page .raggruppa-23 {
    background-image: url(../../../../assets/images/raggruppa-22@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 32px;
    width: 32px;
}

.ipad-nexus-home-page .rettangolo-3 {
    background-color: var(--white);
    border-radius: 6px;
    height: 4px;
    margin-top: 9px;
    width: 32px;
}

.ipad-nexus-home-page .navbar {
    align-items: flex-end;
    display: flex;
    height: 21px;
    margin-bottom: 1.0px;
    margin-left: 26px;
    min-width: 790px;
    opacity: 1.0;
}

.ipad-nexus-home-page .navbar-link-vehicles-near-me {
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: -3.5px;
    min-height: 23px;
    min-width: 143px;
    white-space: nowrap;
}

.ipad-nexus-home-page .navbar-link-routines {
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: -3.5px;
    margin-left: 38px;
    min-height: 23px;
    min-width: 73px;
    white-space: nowrap;
}

.ipad-nexus-home-page .navbar-link-maps {
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: -3.5px;
    margin-left: 38px;
    min-height: 23px;
    min-width: 47px;
    white-space: nowrap;
}

.ipad-nexus-home-page .navbar-link-my-vehicles {
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: -3.5px;
    margin-left: 38px;
    min-height: 23px;
    min-width: 97px;
    white-space: nowrap;
}

.ipad-nexus-home-page .navbar-link-enjoyed-vehicles {
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: -3.5px;
    margin-left: 38px;
    min-height: 23px;
    min-width: 137px;
    white-space: nowrap;
}

.ipad-nexus-home-page .navbar-link-notifications {
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: -3.5px;
    margin-left: 38px;
    min-height: 23px;
    min-width: 103px;
    white-space: nowrap;
}

.ipad-nexus-home-page .raggruppa-4 {
    background-color: var(--white);
    border-radius: 28px;
    display: flex;
    height: 56px;
    margin-left: 38px;
    width: 56px;
}

.ipad-nexus-home-page .businessman-with-arm {
    border-radius: 25.5px;
    flex: 1;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-right: 2px;
    margin-top: 3px;
    object-fit: cover;
    width: 51px;
}

.ipad-nexus-home-page .raggruppa-container {
    align-items: flex-end;
    align-self: flex-end;
    display: flex;
    margin-right: 1.0px;
    margin-top: 279px;
    min-width: 948px;
}

.ipad-nexus-home-page .raggruppa-35 {
    background-image: url(../../../../assets/images/raggruppa-13-1@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 60px;
    width: 67px;
}

.ipad-nexus-home-page .raggruppa-269 {
    display: flex;
    height: 58px;
    margin-bottom: 0.3px;
    margin-left: 788px;
    width: 93px;
}

.ipad-nexus-home-page .raggruppa-26 {
    display: flex;
    flex: 1;
    width: 92.73px;
}

.ipad-nexus-home-page .raggruppa-266 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    width: 92.73px;
}

.ipad-nexus-home-page .overlap-group {
    height: 58px;
    margin-top: 0;
    position: relative;
    width: 93px;
}

.ipad-nexus-home-page .tracciato-1607 {
    height: 14px;
    left: 68px;
    object-fit: cover;
    position: absolute;
    top: 42px;
    width: 25px;
}

.ipad-nexus-home-page .tracciato-1608 {
    height: 14px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 42px;
    width: 25px;
}

.ipad-nexus-home-page .rettangolo-99 {
    background-color: #f34522;
    height: 14px;
    left: 17px;
    position: absolute;
    top: 39px;
    width: 59px;
}

.ipad-nexus-home-page .tracciato-1609 {
    height: 4px;
    left: 17px;
    object-fit: cover;
    position: absolute;
    top: 53px;
    width: 8px;
}

.ipad-nexus-home-page .tracciato-1610 {
    height: 4px;
    left: 68px;
    object-fit: cover;
    position: absolute;
    top: 53px;
    width: 8px;
}

.ipad-nexus-home-page .tracciato-1611 {
    height: 58px;
    left: 17px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 58px;
}

.ipad-nexus-home-page .raggruppa-256 {
    background-image: url(../../../../assets/images/raggruppa-254@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 46px;
    left: 17px;
    opacity: 0.2;
    position: absolute;
    top: 0;
    width: 32px;
}

.ipad-nexus-home-page .tracciato-1613 {
    height: 46px;
    left: 23px;
    object-fit: cover;
    position: absolute;
    top: 6px;
    width: 46px;
}

.ipad-nexus-home-page .tracciato-1614 {
    height: 50px;
    left: 22px;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: 50px;
}

.ipad-nexus-home-page .tracciato-1615 {
    height: 50px;
    left: 21px;
    object-fit: cover;
    position: absolute;
    top: 4px;
    width: 50px;
}

.ipad-nexus-home-page .raggruppa-259 {
    background-image: url(../../../../assets/images/raggruppa-254@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 38px;
    left: 21px;
    opacity: 0.12;
    position: absolute;
    top: 4px;
    width: 26px;
}

.ipad-nexus-home-page .tracciato-1617 {
    height: 38px;
    left: 27px;
    object-fit: cover;
    position: absolute;
    top: 10px;
    width: 38px;
}

.ipad-nexus-home-page .tracciato-161 {
    height: 35px;
    left: 29px;
    object-fit: cover;
    position: absolute;
    top: 12px;
    width: 35px;
}

.ipad-nexus-home-page .tracciato-1620 {
    height: 22px;
    left: 39px;
    object-fit: cover;
    position: absolute;
    top: 17px;
    width: 14px;
}

.ipad-nexus-home-page .tracciato-1621 {
    height: 22px;
    left: 39px;
    object-fit: cover;
    position: absolute;
    top: 17px;
    width: 13px;
}

