
<div class="container-center-horizontal">
    <div class="ipad-nexus-login screen">
        <div class="overlap-group2">
            <div class="rettangolo-45"></div>
            <div class="rettangolo-44"></div>
            <div class="raggruppa-56">
                <div class="raggruppa-54">
                    <div class="login">Login</div>
                    <div class="not-registered-yet-create-an-account">
                <a><span class="helveticaneue-regular-normal-silver-chalice-18px">Not registered yet?</span
                ></a><span class="span1">&nbsp;</span><a routerLink="/authentication/register"><span class="span2">Create an account</span></a>
                    </div>
                    <div class="raggruppa-52">
                        <div class="email-address helveticaneue-regular-normal-white-22px">Email address</div>
                        <div class="overlap-group border-1px-canary">
                            <input class="borderless" type="text" placeholder="Enter your email address" #email>
                        </div>
                    </div>
                    <div class="raggruppa-53">
                        <div class="password helveticaneue-regular-normal-white-22px">Password</div>
                        <div class="overlap-group border-1px-canary">
                            <input class="borderless" type="text"  placeholder="Enter your password" #password>
                        </div>
                    </div>
                </div>
                <div class="raggruppa-55"><div class="login-1" (click)="logIn(email.value, password.value)">LOGIN</div></div>
            </div>
        </div>
    </div>
</div>

