<div class="container-center-horizontal">
    <div class="ipad-nexus-9-3 screen">
        <div class="overlap-group3">
            <div class="rettangolo-4"></div>
            <div class="overlap-group">
                <div class="raggruppa-181">
                    <div class="rettangolo-85"></div>
                </div>
                <div class="rettangolo-84"></div>
            </div>
            <div class="raggruppa-33">
                <div class="raggruppa-25 pointer" (click)="redirect('/homepage')"></div>
                <div class="flex-col">
                    <div class="my-navbar">
                        <div class="navbar-link-vehicles-near-me helveticaneue-regular-normal-white-18px pointer" (click)="redirect('/vehiclesNearMe')">Vehicles near me</div>
                        <div class="navbar-link-routines helveticaneue-regular-normal-white-18px pointer" (click)="redirect('/routines')">Routines</div>
                        <div class="navbar-link-maps helveticaneue-regular-normal-white-18px pointer" (click)="redirect('/maps')">Maps</div>
                        <div class="navbar-link-my-vehicles helveticaneue-regular-normal-white-18px pointer" (click)="redirect('/myVehicles')">My vehicles</div>
                        <div class="navbar-link-enjoyed-vehicles helveticaneue-regular-normal-white-18px pointer" (click)="redirect('/enjoyedVehicles')">Enjoyed vehicles</div>
                        <div class="navbar-link-notifications helveticaneue-regular-normal-white-18px pointer" (click)="redirect('/notifications')">Notifications</div>
                    </div>
                </div>
                <div class="raggruppa-28 border-2px-cloud" (click)="redirect('/profile')">
                    <img class="businessman-with-arm" src="assets/images/gends%20-%20Copy.png" />
                </div>
            </div>
            <div class="raggruppa-226">
                <div class="raggruppa-210">
                    <div class="flex-col-1 helveticaneue-medium-white-18px">
                        <div class="license-plate">License plate</div>
                        <div class="model-number">Model number</div>
                    </div>
                    <div class="flex-col-2 helveticaneue-regular-normal-silver-chalice-18px">
                        <div class="ab-564-cd">AB 564CD</div>
                        <div class="xv85-r29">XV85R29</div>
                    </div>
                </div>
                <div class="raggruppa-220"></div>
            </div>
            <div class="overlap-group1">
                <img class="full-concept-v28-_-3" src="assets/images/full-concept-v28---3-1@1x.png" />
                <div class="raggruppa-232">
                    <div class="raggruppa-229"></div>
                    <div class="raggruppa-231"></div>
                </div>
            </div>
            <div class="raggruppa-253">
                <div class="flex-row">
                    <div class="overlap-group-1">
                        <div class="rettangolo-72"></div>
                        <div class="raggruppa-127"></div>
                    </div>
                    <div class="overlap-group2">
                        <div class="overlap-group1-1">
                            <div class="raggruppa-216">
                                <div class="raggruppa-215">
                                    <div class="raggruppa-214">
                                        <div class="raggruppa-213">
                                            <div class="raggruppa-212"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ellisse-2"></div>
                        </div>
                        <div class="ellisse-14"></div>
                    </div>
                    <div class="raggruppa-132">
                        <div class="ellisse-9 border-1px-canary"></div>
                    </div>
                </div>
                <div class="flex-col-3">
                    <div class="raggruppa-container">
                        <img class="raggruppa-130" src="assets/images/raggruppa-130@1x.png" />
                        <div class="raggruppa-134">
                            <div class="raggruppa-119"></div>
                            <div class="x21-c">21°C</div>
                            <div class="raggruppa-117"><img class="raggruppa-116" src="assets/images/raggruppa-116-5@1x.png" /></div>
                        </div>
                        <div class="raggruppa-135">
                            <div class="ellisse-9 border-1px-canary"></div>
                        </div>
                    </div>
                    <div class="raggruppa-84">
                        <div class="enjoyers helveticaneue-medium-white-18px">Enjoyers</div>
                        <div class="raggruppa-83">
                            <div class="raggruppa-65"></div>
                            <div class="raggruppa-7"></div>
                            <div class="raggruppa-7"></div>
                            <div class="raggruppa-80"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="raggruppa-309">
                <div class="raggruppa-306">
                    <div class="custom_seat_-aug-container">
                        <img
                            class="custom_-seat_2022-au"
                            src="assets/images/custom-seat-2022-aug-13-09-43-03pm-000-customizedview41371135013-1@1x.png"
                        />
                        <img
                            class="custom_-seat_2022-au-1"
                            src="assets/images/custom-seat-2022-aug-13-09-43-03pm-000-customizedview41371135013-1@1x.png"
                        />
                    </div>
                </div>
            </div>
            <div class="raggruppa-322">
                <div class="raggruppa-318"></div>
                <div class="raggruppa-308"></div>
            </div>
            <div class="raggruppa-321">
                <div class="raggruppa-320"></div>
                <div class="raggruppa-319"></div>
            </div>
        </div>
    </div>
</div>
