@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

:root {
    --canary: #0027ff;
    --dove-gray: #707070;
    --granite-gray: #696969;
    --silver-chalice: #adadad;
    --white: #ffffff;

    --font-size-l: 22px;
    --font-size-m: 18px;
    --font-size-xl: 35px;

    --font-family-helveticaneue-bold: "HelveticaNeue-Bold", Helvetica;
    --font-family-helveticaneue-regular: "HelveticaNeue-Regular", Helvetica;
}
.helveticaneue-regular-normal-white-22px {
    color: var(--white);
    font-family: var(--font-family-helveticaneue-regular);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
}

.helveticaneue-regular-normal-silver-chalice-18px {
    color: var(--silver-chalice);
    font-family: var(--font-family-helveticaneue-regular);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.helveticaneue-bold-white-35px {
    color: var(--white);
    font-family: var(--font-family-helveticaneue-bold);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 700;
}

.helveticaneue-bold-granite-gray-22px {
    color: var(--granite-gray);
    font-family: var(--font-family-helveticaneue-bold);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 700;
}

.border-1px-canary {
    border: 1px solid var(--canary);
}

.border-1px-dove-gray {
    border: 1px solid var(--dove-gray);
}


/* screen - ipad-3 */

.ipad-3 {
    align-items: flex-start;
    background-color: var(--white);
    display: flex;
    width: 1024px;
}

.ipad-3 .overlap-group4 {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62f90f12e2894db8bf01d639/releases/62f90f37f5e0f8f0397614fc/img/tracciato-1572@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 768px;
    position: relative;
    width: 1024px;
}

.ipad-3 .rettangolo-45 {
    background-color: var(--white);
    border-radius: 53px;
    box-shadow: 0px 3px 6px #00000029;
    filter: blur(32.73px);;
    height: 645px;
    left: 303px;
    position: absolute;
    top: 62px;
    width: 419px;
}

.ipad-3 .tracciato-1575 {
    height: 645px;
    left: 303px;
    object-fit: cover;
    position: absolute;
    top: 62px;
    width: 419px;
}

.ipad-3 .title {
    left: 348px;
    letter-spacing: 0;
    line-height: 35px;
    position: absolute;
    top: 98px;
    white-space: nowrap;
}

.ipad-3 .raggruppa-52 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 348px;
    min-height: 98px;
    position: absolute;
    top: 274px;
    width: 330px;
}

.ipad-3 .email-address {
    letter-spacing: 0;
    line-height: 22px;
    margin-top: 2px;
    min-height: 28px;
    white-space: nowrap;
}

.ipad-3 .overlap-group {
    align-items: flex-end;
    border-radius: 17px;
    display: flex;
    height: 58px;
    margin-top: 10px;
    min-width: 330px;
    padding: 15.5px 17px;
}

.ipad-3 .enter-your-email-address {
    letter-spacing: 0;
    line-height: 18px;
    min-height: 23px;
    min-width: 207px;
    white-space: nowrap;
}

.ipad-3 .raggruppa-57 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 348px;
    min-height: 98px;
    position: absolute;
    top: 156px;
    width: 330px;
}

.ipad-3 .full-name {
    letter-spacing: 0;
    line-height: 22px;
    margin-top: 2px;
    min-height: 28px;
    white-space: nowrap;
}

.ipad-3 .enter-your-full-name {
    letter-spacing: 0;
    line-height: 18px;
    min-height: 23px;
    min-width: 163px;
    white-space: nowrap;
}

.ipad-3 .raggruppa-53 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 348px;
    min-height: 98px;
    position: absolute;
    top: 510px;
    width: 330px;
}

.ipad-3 .password {
    letter-spacing: 0;
    line-height: 22px;
    margin-top: 2px;
    min-height: 28px;
    white-space: nowrap;
}

.ipad-3 .enter-your-password {
    letter-spacing: 0;
    line-height: 18px;
    min-height: 23px;
    min-width: 173px;
    white-space: nowrap;
}

.ipad-3 .raggruppa-59 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 348px;
    min-height: 98px;
    position: absolute;
    top: 392px;
    width: 330px;
}

.ipad-3 .nickname {
    letter-spacing: 0;
    line-height: 22px;
    margin-top: 2px;
    min-height: 28px;
    white-space: nowrap;
}

.ipad-3 .enter-your-nickname {
    letter-spacing: 0;
    line-height: 18px;
    min-height: 23px;
    min-width: 172px;
    white-space: nowrap;
}

.ipad-3 .raggruppa-58 {
    align-items: flex-end;
    background-color: var(--white);
    border-radius: 15px;
    display: flex;
    height: 48px;
    left: 439px;
    min-width: 146px;
    padding: 8px 37px;
    position: absolute;
    top: 628px;
}

.ipad-3 .login {
    letter-spacing: 0;
    line-height: 22px;
    min-height: 28px;
    min-width: 72px;
    white-space: nowrap;
}


@font-face {
    font-family: "HelveticaNeue-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.animaapp.com/HelveticaNeue-Regular") format("truetype");
}
@font-face {
    font-family: "HelveticaNeue-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("https://fonts.animaapp.com/HelveticaNeue-Bold") format("opentype");
}

.screen a {
    display: contents;
    text-decoration: none;
}

.container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
}

.container-center-horizontal > * {
    flex-shrink: 0;
    pointer-events: auto;
}

* {
    box-sizing: border-box;
}
