/* screen - ipad-3 */

.ipad-3 {
    align-items: flex-start;
    background-color: var(--white);
    display: flex;
    width: 1024px;
}

.ipad-3 .overlap-group4 {
    background-image: url(../../../../assets/images/tracciato-1572@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 768px;
    position: relative;
    width: 1024px;
}

.ipad-3 .rettangolo-45 {
    background-color: var(--white);
    border-radius: 53px;
    box-shadow: 0px 3px 6px #00000029;
    filter: blur(32.73px);;
    height: 645px;
    left: 303px;
    position: absolute;
    top: 62px;
    width: 419px;
}

.ipad-3 .tracciato-1575 {
    height: 645px;
    left: 303px;
    object-fit: cover;
    position: absolute;
    top: 62px;
    width: 419px;
}

.ipad-3 .title {
    color: var(--white);
    font-family: var(--font-family-helveticaneue-bold);
    font-size: var(--font-size-xl);
    font-weight: 700;
    left: 348px;
    letter-spacing: 0;
    line-height: 35px;
    position: absolute;
    top: 98px;
    white-space: nowrap;
}

.ipad-3 .raggruppa-52 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 348px;
    min-height: 98px;
    position: absolute;
    top: 274px;
    width: 330px;
}

.ipad-3 .email-address {
    letter-spacing: 0;
    line-height: 22px;
    margin-top: 2px;
    min-height: 28px;
    white-space: nowrap;
}

.ipad-3 .overlap-group {
    align-items: flex-end;
    border-radius: 17px;
    display: flex;
    height: 58px;
    margin-top: 10px;
    min-width: 330px;
    padding: 15.5px 17px;
}

.ipad-3 .enter-your-email-address {
    letter-spacing: 0;
    line-height: 18px;
    min-height: 23px;
    min-width: 207px;
    white-space: nowrap;
}

.ipad-3 .raggruppa-57 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 348px;
    min-height: 98px;
    position: absolute;
    top: 156px;
    width: 330px;
}

.ipad-3 .full-name {
    letter-spacing: 0;
    line-height: 22px;
    margin-top: 2px;
    min-height: 28px;
    white-space: nowrap;
}

.ipad-3 .enter-your-full-name {
    letter-spacing: 0;
    line-height: 18px;
    min-height: 23px;
    min-width: 163px;
    white-space: nowrap;
}

.ipad-3 .raggruppa-53 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 348px;
    min-height: 98px;
    position: absolute;
    top: 510px;
    width: 330px;
}

.ipad-3 .password {
    letter-spacing: 0;
    line-height: 22px;
    margin-top: 2px;
    min-height: 28px;
    white-space: nowrap;
}

.ipad-3 .enter-your-password {
    letter-spacing: 0;
    line-height: 18px;
    min-height: 23px;
    min-width: 173px;
    white-space: nowrap;
}

.ipad-3 .raggruppa-59 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 348px;
    min-height: 98px;
    position: absolute;
    top: 392px;
    width: 330px;
}

.ipad-3 .nickname {
    letter-spacing: 0;
    line-height: 22px;
    margin-top: 2px;
    min-height: 28px;
    white-space: nowrap;
}

.ipad-3 .enter-your-nickname {
    letter-spacing: 0;
    line-height: 18px;
    min-height: 23px;
    min-width: 172px;
    white-space: nowrap;
}

.ipad-3 .raggruppa-58 {
    align-items: flex-end;
    background-color: var(--white);
    border: 1px solid #707070;
    border-radius: 15px;
    display: flex;
    height: 48px;
    left: 439px;
    min-width: 146px;
    padding: 8px 37px;
    position: absolute;
    top: 628px;
}

.ipad-3 .login {
    color: var(--granite-gray);
    font-family: var(--font-family-helveticaneue-bold);
    font-size: var(--font-size-l);
    font-weight: 700;
    letter-spacing: 0;
    line-height: 22px;
    min-height: 28px;
    min-width: 72px;
    white-space: nowrap;
}
