<div class="container-center-horizontal">
    <div class="ipad-3 screen">
        <div class="overlap-group4">
            <div class="rettangolo-45"></div>
            <img class="tracciato-1575" src="assets/images/tracciato-1575@1x.png" />
            <h1 class="title">Signup</h1>
            <div class="raggruppa-52">
                <div class="email-address helveticaneue-regular-normal-white-22px">Email address</div>
                <div class="overlap-group border-1px-canary">
                    <input class="borderless" type="text" placeholder="Enter your email address" #email>
                </div>
            </div>
            <div class="raggruppa-57">
                <div class="full-name helveticaneue-regular-normal-white-22px">Full name</div>
                <div class="overlap-group border-1px-canary">
                    <input class="borderless" type="text" placeholder="Enter your full name" #fullName>
                </div>
            </div>
            <div class="raggruppa-53">
                <div class="password helveticaneue-regular-normal-white-22px">Password</div>
                <div class="overlap-group border-1px-canary">
                    <input class="borderless" type="text" placeholder="Enter your password" #password>
                </div>
            </div>
            <div class="raggruppa-59">
                <div class="nickname helveticaneue-regular-normal-white-22px">Nickname</div>
                <div class="overlap-group border-1px-canary">
                    <input class="borderless" type="text" placeholder="Enter your nickName" #nickName>
                </div>
            </div>
            <div class="raggruppa-58">
                <div class="login" (click)="signup(email.value, fullName.value, password.value, nickName.value)">SIGN UP</div>
            </div>
        </div>
    </div>
</div>
