<div class="container-center-horizontal">
    <div class="ipad-6 screen">
        <div class="overlap-group">
            <div class="raggruppa-33 mb-6">
                <div class="raggruppa-25 pointer" (click)="redirect('/homepage')"></div>
                <div class="flex-col">
                    <div class="my-navbar">
                        <div class="navbar-link-vehicles-near-me helveticaneue-regular-normal-white-18px pointer" (click)="redirect('/vehiclesNearMe')">Vehicles near me</div>
                        <div class="navbar-link-routines helveticaneue-regular-normal-white-18px pointer" (click)="redirect('/routines')">Routines</div>
                        <div class="navbar-link-maps helveticaneue-regular-normal-white-18px pointer" (click)="redirect('/maps')">Maps</div>
                        <div class="navbar-link-my-vehicles helveticaneue-bold-white-18px pointer" (click)="redirect('/myVehicles')">My vehicles</div>
                        <div class="navbar-link-enjoyed-vehicles helveticaneue-regular-normal-white-18px pointer" (click)="redirect('/enjoyedVehicles')">Enjoyed vehicles</div>
                        <div class="navbar-link-notifications  helveticaneue-regular-normal-white-18px pointer" (click)="redirect('/notifications')">Notifications</div>
                    </div>
                    <div class="rettangolo-28"></div>
                </div>
                <div class="raggruppa-28 border-2px-cloud" (click)="redirect('/profile')">
                    <img class="businessman-with-arm pointer" src="assets/images/gends%20-%20Copy.png"/>
                </div>
            </div>


            <div class="columns notification-container mt-2 is-vcentered" *ngFor="let user of users">

                <div class="column is-one-fifth ">
                    <p>{{user.name + " " + user.surname}}</p>
                </div>
                <div class="column is-one-half ">
                    <div class="columns">
                        <div class="column is-half">Status: {{user.status}}</div>
                        <div class="p-5"></div>
                        <div class="p-5"><button class="button mr-1 is-rounded is-small" (click)="removeEnjoyer(user.userId)">remove</button></div>
                    </div>
                </div>


            </div>





        </div>




    </div>
</div>

