@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/62f90a649eb14dc09afacb73.62f90a65674ea1a1f907eb4c.KdygMSB.hcp.png");

:root {
    --canary: #0027ff;
    --cloud: #c7c7c7;
    --granite-gray: #696969;
    --green: #00ff1d;
    --robins-egg-blue: #00ccfe;
    --silver-chalice: #adadad;
    --silver-chalice-2: #afafaf;
    --white: #ffffff;

    --font-size-l: 22px;
    --font-size-m: 18px;
    --font-size-s: 15px;
    --font-size-xl: 35px;

    --font-family-helvetica_neue: "Helvetica Neue", Helvetica;
    --font-family-helveticaneue-bold: "HelveticaNeue-Bold", Helvetica;
    --font-family-helveticaneue-medium: "HelveticaNeue-Medium", Helvetica;
    --font-family-helveticaneue-regular: "HelveticaNeue-Regular", Helvetica;
}
.helveticaneue-regular-normal-white-18px {
    color: var(--white);
    font-family: var(--font-family-helveticaneue-regular);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.helveticaneue-regular-normal-silver-chalice-18px {
    color: var(--silver-chalice);
    font-family: var(--font-family-helveticaneue-regular);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.helveticaneue-medium-white-18px {
    color: var(--white);
    font-family: var(--font-family-helveticaneue-medium);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 500;
}

.helveticaneue-bold-white-18px {
    color: var(--white);
    font-family: var(--font-family-helveticaneue-bold);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
}

.helveticaneue-regular-normal-white-22px {
    color: var(--white);
    font-family: var(--font-family-helveticaneue-regular);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
}

.border-1px-canary {
    border: 1px solid var(--canary);
}

.border-2px-cloud {
    border: 2px solid var(--cloud);
}

.border-2px-canary {
    border: 2px solid var(--canary);
}


@font-face {
    font-family: "HelveticaNeue-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/HelveticaNeue.ttf") format("truetype");
}
@font-face {
    font-family: "HelveticaNeue-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/ApexSans-Book.otf") format("opentype");
}
@font-face {
    font-family: "HelveticaNeue-Medium";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/HelveticaNeue-Medium.otf") format("opentype");
}


.screen a {
    display: contents;
    text-decoration: none;
}

.container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
}

.container-center-horizontal > * {
    flex-shrink: 0;
    pointer-events: auto;
}

* {
    box-sizing: border-box;
}

.borderless {
    border: none;
    background-color: transparent;
}

.width-100 {
    width: 100%
}

.pointer {
    cursor: pointer;
}
