<div class="container-center-horizontal">
    <div class="ipad-16 screen">
        <div class="overlap-group3">
            <div class="raggruppa-587">
                <div class="raggruppa-586">
                    <div class="acces-request helveticaneue-medium-white-18px">ACCES REQUEST</div>
                    <div class="raggruppa-583">
                        <div class="raggruppa-582">
                            <div class="name-container">
                                <div class="name helveticaneue-regular-normal-white-18px">Mario Rossi</div>
                                <div class="full-name">Full name</div>
                            </div>
                        </div>
                        <div class="raggruppa-581">
                            <div class="overlap-group1">
                                <div class="xb76-r29 helveticaneue-regular-normal-white-18px">XB76R29</div>
                                <div class="model-number">Model number</div>
                            </div>
                        </div>
                    </div>
                    <div class="raggruppa-585">
                        <div class="overlap-group2">
                            <div class="raggruppa-584">
                                <div class="accept">Accept</div>
                                <div class="decline">Decline</div>
                            </div>
                            <div class="rettangolo-259"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


