/* screen - ipad-nexus-vehicles-near-me */

.ipad-nexus-vehicles-near-me {
    align-items: flex-start;
    background-color: var(--white);
    display: flex;
    height: 768px;
    width: 1024px;
}

.ipad-nexus-vehicles-near-me .overlap-group3 {
    align-items: flex-end;
    background-color: var(--silver-chalice-2);
    display: flex;
    flex-direction: column;
    min-height: 768px;
    padding: 21px 38px;
    width: 1024px;
}

.ipad-nexus-vehicles-near-me .raggruppa-32 {
    align-items: flex-start;
    align-self: center;
    display: flex;
    height: 57px;
    justify-content: flex-end;
    margin-left: 0.02px;
    min-width: 942px;
}

.ipad-nexus-vehicles-near-me .raggruppa-31 {
    align-self: center;
    background-image: url(../../../../assets/images/raggruppa-24-1@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 32px;
    margin-bottom: 4.81px;
    width: 32px;
}

.ipad-nexus-vehicles-near-me .flex-col {
    align-items: center;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    margin-left: 26px;
    min-height: 41px;
    width: 790px;
}

.ipad-nexus-vehicles-near-me .my-navbar {
    align-items: flex-end;
    display: flex;
    height: 22px;
    min-width: 790px;
    opacity: 1.0;
}

.ipad-nexus-vehicles-near-me .navbar-link-vehicles-near-me {
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: -3.5px;
    min-height: 23px;
    min-width: 143px;
    white-space: nowrap;
}

.ipad-nexus-vehicles-near-me .navbar-link-routines {
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: -3.5px;
    margin-left: 38px;
    min-height: 23px;
    min-width: 73px;
    white-space: nowrap;
}

.ipad-nexus-vehicles-near-me .navbar-link-maps {
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: -4px;
    margin-left: 38px;
    min-height: 24px;
    min-width: 49px;
    white-space: nowrap;
}

.ipad-nexus-vehicles-near-me .navbar-link-my-vehicles {
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: -3.5px;
    margin-left: 36px;
    min-height: 23px;
    min-width: 97px;
    white-space: nowrap;
}

.ipad-nexus-vehicles-near-me .navbar-link-enjoyed-vehicles {
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: -3.5px;
    margin-left: 38px;
    min-height: 23px;
    min-width: 137px;
    white-space: nowrap;
}

.ipad-nexus-vehicles-near-me .navbar-link-notifications {
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: -3.5px;
    margin-left: 38px;
    min-height: 23px;
    min-width: 103px;
    white-space: nowrap;
}

.ipad-nexus-vehicles-near-me .rettangolo-32 {
    background-color: var(--white);
    border-radius: 6px;
    height: 4px;
    margin-right: 158.0px;
    margin-top: 15px;
    width: 46px;
}

.ipad-nexus-vehicles-near-me .raggruppa-30 {
    background-color: var(--white);
    border-radius: 28px;
    display: flex;
    height: 56px;
    margin-left: 38px;
    width: 56px;
}

.ipad-nexus-vehicles-near-me .businessman-with-arm {
    border-radius: 25.5px;
    flex: 1;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-right: 2px;
    margin-top: 3px;
    object-fit: cover;
    width: 51px;
}

.ipad-nexus-vehicles-near-me .raggruppa-container {
    border-radius: 53px;
    height: 606px;
    margin-top: 34px;
    position: relative;
    width: 947px;
}

.ipad-nexus-vehicles-near-me .raggruppa-240 {
    background-color: var(--white);
    border-radius: 53px;
    display: flex;
    height: 606px;
    left: 0;
    position: absolute;
    top: 0;
    width: 947px;
}

.ipad-nexus-vehicles-near-me .x1015102 {
    border-radius: 53px;
    flex: 1;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 3px;
    margin-top: 3px;
    object-fit: cover;
    width: 942px;
}

.ipad-nexus-vehicles-near-me .raggruppa-42 {
    display: flex;
    height: 37px;
    left: 575px;
    position: absolute;
    top: 321px;
    width: 37px;
}

.ipad-nexus-vehicles-near-me .raggruppa-41 {
    background-image: url(../../../../assets/images/raggruppa-37-1@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex: 1;
    width: 37px;
}

.ipad-nexus-vehicles-near-me .raggruppa-40 {
    background-image: url(../../../../assets/images/raggruppa-39-1@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    flex: 1;
    width: 37px;
}

.ipad-nexus-vehicles-near-me .raggruppa-305 {
    background-color: var(--granite-gray);
    border-radius: 54px;
    display: flex;
    height: 154px;
    left: 16px;
    position: absolute;
    top: 434px;
    width: 716px;
}

.ipad-nexus-vehicles-near-me .raggruppa-304 {
    display: flex;
    flex: 1;
    height: 88px;
    justify-content: space-between;
    margin-left: 49.0px;
    margin-right: 48.5px;
    margin-top: 33px;
}

.ipad-nexus-vehicles-near-me .raggruppa-303 {
    display: flex;
    margin-bottom: 4px;
    margin-top: 5px;
    width: 331.54px;
}

.ipad-nexus-vehicles-near-me .raggruppa-286 {
    background-position: 50% 50%;
    background-size: cover;
    width: 81.76px;
}

.ipad-nexus-vehicles-near-me .raggruppa-287 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 9.8px;
    min-height: 100%;
}

.ipad-nexus-vehicles-near-me .overlap-group1 {
    border-radius: 18px;
    height: 35px;
    position: relative;
    width: 240px;
}

.ipad-nexus-vehicles-near-me .your {
    left: 15px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    top: 8px;
    white-space: nowrap;
}

.ipad-nexus-vehicles-near-me .rettangolo-1 {
    border: 1px solid var(--white);
    border-radius: 18px;
    height: 35px;
    left: 0;
    position: absolute;
    top: 0;
    width: 240px;
}

.ipad-nexus-vehicles-near-me .overlap-group {
    border-radius: 18px;
    height: 35px;
    margin-top: 9px;
    position: relative;
    width: 240px;
}

.ipad-nexus-vehicles-near-me .raggruppa-302 {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    min-width: 240px;
}

.ipad-nexus-vehicles-near-me .raggruppa-container-1 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 1.0px;
    min-height: 79px;
    width: 38px;
}

.ipad-nexus-vehicles-near-me .raggruppa-290 {
    background-position: 50% 50%;
    background-size: cover;
    height: 35px;
    margin-left: 1.0px;
    width: 35px;
}

.ipad-nexus-vehicles-near-me .raggruppa-295 {
    background-position: 50% 50%;
    background-size: cover;
    height: 35px;
    margin-top: 9px;
    width: 38px;
}

.ipad-nexus-vehicles-near-me .overlap-group2 {
    align-self: flex-end;
    height: 92px;
    margin-bottom: -3.5px;
    margin-left: 9px;
    position: relative;
    width: 195px;
}

.ipad-nexus-vehicles-near-me .raggruppa-291 {
    display: flex;
    flex-direction: column;
    height: 48px;
    justify-content: space-between;
    left: 0;
    position: absolute;
    top: 0;
    width: 195px;
}

.ipad-nexus-vehicles-near-me .expected-consumption {
    flex: 1;
    height: 24px;
    letter-spacing: 0;
    line-height: 18px;
    margin-right: -2px;
    margin-top: 2px;
    max-height: 24px;
    white-space: nowrap;
}

.ipad-nexus-vehicles-near-me .x000km-h2 {
    color: var(--silver-chalice);
    font-family: var(--font-family-helvetica_neue);
    font-size: var(--font-size-m);
    font-weight: 400;
    height: 27px;
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: -5.5px;
    white-space: nowrap;
    width: 86px;
}

.ipad-nexus-vehicles-near-me .overlap-group-1 {
    height: 46px;
    left: 0;
    position: absolute;
    top: 46px;
    width: 122px;
}

.ipad-nexus-vehicles-near-me .expected-time {
    left: 0;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    top: 0;
    white-space: nowrap;
}

.ipad-nexus-vehicles-near-me .x0h-00min {
    left: 0;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    top: 22px;
    white-space: nowrap;
}
