<div class="container-center-horizontal">
    <div class="ipad-nexus-vehicles-near-me screen">
        <div class="overlap-group3">
            <div class="raggruppa-32">
                <div class="raggruppa-31 pointer" (click)="redirect('/homepage')"></div>
                <div class="flex-col">
                    <div class="my-navbar">
                        <div class="navbar-link-vehicles-near-me helveticaneue-regular-normal-white-18px pointer" (click)="redirect('/vehiclesNearMe')">Vehicles near me</div>
                        <div class="navbar-link-routines helveticaneue-regular-normal-white-18px pointer" (click)="redirect('/routines')">Routines</div>
                        <div class="navbar-link-maps helveticaneue-bold-white-18px pointer" (click)="redirect('/maps')">Maps</div>
                        <div class="navbar-link-my-vehicles helveticaneue-regular-normal-white-18px pointer" (click)="redirect('/myVehicles')">My vehicles</div>
                        <div class="navbar-link-enjoyed-vehicles helveticaneue-regular-normal-white-18px pointer" (click)="redirect('/enjoyedVehicles')">Enjoyed vehicles</div>
                        <div class="navbar-link-notifications helveticaneue-regular-normal-white-18px pointer" (click)="redirect('/notifications')">Notifications</div>
                    </div>
                    <div class="rettangolo-32"></div>
                </div>
                <div class="raggruppa-30 border-2px-cloud" (click)="redirect('/profile')">
                    <img class="businessman-with-arm pointer" src="assets/images/gends%20-%20Copy.png" />
                </div>
            </div>
            <div class="raggruppa-container">

            </div>
        </div>
    </div>
</div>
