/* screen - ipad-nexus-9-5 */

.ipad-nexus-9-5 {
    align-items: flex-start;
    background-color: var(--white);
    display: flex;
    height: 768px;
    width: 1024px;
}

.ipad-nexus-9-5 .overlap-group {
    align-items: flex-end;
    background-color: var(--silver-chalice-2);
    display: flex;
    flex-direction: column;
    min-height: 768px;
    padding: 21px 38px;
    width: 1024px;
}

.ipad-nexus-9-5 .raggruppa-32 {
    align-items: flex-start;
    align-self: center;
    display: flex;
    height: 57px;
    justify-content: flex-end;
    margin-left: 0.02px;
    min-width: 942px;
}

.ipad-nexus-9-5 .raggruppa-31 {
    align-self: center;
    background-image: url(../../../../assets/images/raggruppa-24-1@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 32px;
    margin-bottom: 4.81px;
    width: 32px;
}

.ipad-nexus-9-5 .flex-col {
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    margin-left: 26px;
    min-height: 41px;
    width: 790px;
}

.ipad-nexus-9-5 .raggruppa-29 {
    align-items: flex-end;
    display: flex;
    height: 22px;
    min-width: 790px;
    opacity: 1.0;
}

.ipad-nexus-9-5 .vehicles-near-me {
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: -4px;
    min-height: 24px;
    min-width: 153px;
    white-space: nowrap;
}

.ipad-nexus-9-5 .routines {
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: -3.5px;
    margin-left: 28px;
    min-height: 23px;
    min-width: 73px;
    white-space: nowrap;
}

.ipad-nexus-9-5 .maps {
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: -3.5px;
    margin-left: 38px;
    min-height: 23px;
    min-width: 47px;
    white-space: nowrap;
}

.ipad-nexus-9-5 .my-vehicles {
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: -3.5px;
    margin-left: 38px;
    min-height: 23px;
    min-width: 97px;
    white-space: nowrap;
}

.ipad-nexus-9-5 .enjoyed-vehicles {
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: -3.5px;
    margin-left: 38px;
    min-height: 23px;
    min-width: 137px;
    white-space: nowrap;
}

.ipad-nexus-9-5 .notifications {
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: -3.5px;
    margin-left: 38px;
    min-height: 23px;
    min-width: 103px;
    white-space: nowrap;
}

.ipad-nexus-9-5 .rettangolo-32 {
    background-color: var(--white);
    border-radius: 6px;
    height: 4px;
    margin-top: 15px;
    width: 145px;
}

.ipad-nexus-9-5 .raggruppa-30 {
    background-color: var(--white);
    border-radius: 28px;
    display: flex;
    height: 56px;
    margin-left: 38px;
    width: 56px;
}

.ipad-nexus-9-5 .businessman-with-arm {
    border-radius: 25.5px;
    flex: 1;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-right: 2px;
    margin-top: 3px;
    object-fit: cover;
    width: 51px;
}

.ipad-nexus-9-5 .raggruppa-container {
    border-radius: 53px;
    height: 606px;
    margin-top: 28px;
    position: relative;
    width: 947px;
}

.ipad-nexus-9-5 .raggruppa-270 {
    background-color: var(--white);
    border-radius: 53px;
    display: flex;
    height: 606px;
    left: 0;
    position: absolute;
    top: 0;
    width: 947px;
}

.ipad-nexus-9-5 .dark-map {
    border-radius: 53px;
    flex: 1;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-right: 2px;
    margin-top: 3px;
    object-fit: cover;
    width: 942px;
}

.ipad-nexus-9-5 .raggruppa-42 {
    display: flex;
    height: 37px;
    left: 568px;
    position: absolute;
    top: 311px;
    width: 37px;
}

.ipad-nexus-9-5 .raggruppa-41 {
    background-image: url(../../../../assets/images/Ilmioprogetto.png);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex: 1;
    width: 60px;
}

.ipad-nexus-9-5 .raggruppa-40 {
    background-image: url(../../../../assets/images/Test_rendering_4_2022-Aug-16_08-54-31AM-000_CustomizedView14833257905_png_alpha.png);
    background-position: 50% 50%;
    background-size: cover;
    flex: 1;
    width: 37px;
}
