<div class="container-center-horizontal">
    <div class="ipad-nexus-9-5 screen">
        <div class="overlap-group">
            <div class="raggruppa-32">
                <div class="raggruppa-31 pointer" (click)="redirect('/profile')"></div>
                <div class="flex-col">
                    <div class="raggruppa-29">
                        <div class="vehicles-near-me helveticaneue-bold-white-18px pointer" (click)="redirect('/vehiclesNearMe')">Vehicles near me</div>
                        <div class="routines helveticaneue-regular-normal-white-18px pointer" (click)="redirect('/routines')">Routines</div>
                        <div class="maps helveticaneue-regular-normal-white-18px pointer" (click)="redirect('/maps')">Maps</div>
                        <div class="my-vehicles helveticaneue-regular-normal-white-18px pointer" (click)="redirect('/myVehicles')">My vehicles</div>
                        <div class="enjoyed-vehicles helveticaneue-regular-normal-white-18px pointer" (click)="redirect('/enjoyedVehicles')">Enjoyed vehicles</div>
                        <div class="notifications helveticaneue-regular-normal-white-18px pointer" (click)="redirect('/notifications')">Notifications</div>
                    </div>
                    <div class="rettangolo-32"></div>
                </div>
                <div class="raggruppa-30 border-2px-cloud" (click)="redirect('/profile')">
                    <img class="businessman-with-arm pointer" src="assets/images/gends%20-%20Copy.png" />
                </div>
            </div>
            <div class="raggruppa-container">
                <div class="raggruppa-270">
                    <img class="dark-map" src="assets/images/dark-map@1x.png" />
                </div>
                <div class="raggruppa-42">
                    <div class="raggruppa-41">
                        <div class="raggruppa-40"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


