
<div class="container-center-horizontal">
    <div class="ipad-1 screen">
        <div class="overlap-group4">
            <div class="rettangolo-4"></div>
            <div class="raggruppa-33">
                <div class="raggruppa-25"></div>
                <div class="flex-col">
                    <div class="navbar">
                        <div class="navbar-link-vehicles-near-me helveticaneue-regular-normal-white-18px">Vehicles near me</div>
                        <div class="navbar-link-routines helveticaneue-regular-normal-white-18px">Routines</div>
                        <div class="navbar-link-maps helveticaneue-regular-normal-white-18px">Maps</div>
                        <div class="navbar-link-my-vehicles helveticaneue-regular-normal-white-18px">My vehicles</div>
                        <div class="navbar-link-enjoyed-vehicles helveticaneue-bold-white-18px">Enjoyed vehicles</div>
                        <div class="navbar-link-notifications helveticaneue-regular-normal-white-18px">Notifications</div>
                    </div>
                    <div class="rettangolo-28"></div>
                </div>
                <div class="raggruppa-28 border-2px-cloud">
                    <img class="businessman-with-arm" src="assets/images/gends%20-%20Copy.png" />
                </div>
            </div>
        </div>
    </div>
</div>

