<div class="container-center-horizontal">
    <div class="ipad-15 screen">
        <div class="overlap-group1">
            <div class="raggruppa-324 mb-3">
                <div class="raggruppa-25 pointer" (click)="redirect('/homepage')"></div>
                <div class="flex-col">
                    <div class="raggruppa-26">
                        <div class="vehicles-near-me helveticaneue-regular-normal-white-18px pointer" (click)="redirect('/vehiclesNearMe')">Vehicles near me</div>
                        <div class="routines helveticaneue-regular-normal-white-18px pointer" (click)="redirect('/routines')">Routines</div>
                        <div class="maps helveticaneue-regular-normal-white-18px pointer" (click)="redirect('/maps')">Maps</div>
                        <div class="my-vehicles  helveticaneue-bold-white-18px pointer" (click)="redirect('/myVehicles')">My vehicles</div>
                        <div class="enjoyed-vehicles helveticaneue-regular-normal-white-18px pointer" (click)="redirect('/enjoyedVehicles')">Enjoyed vehicles</div>
                        <div class="notifications helveticaneue-regular-normal-white-18px pointer" (click)="redirect('/notifications')">Notifications</div>
                    </div>
                    <div class="rettangolo-28"></div>
                </div>
                <div class="raggruppa-28 border-2px-cloud" (click)="redirect('/profile')">
                    <img
                        class="businessman-with-arm pointer"
                        src="assets/images/gends%20-%20Copy.png"
                    />
                </div>
            </div>





            <div class="routine-container" *ngFor="let vehicle of vehicles"> <!-- to transform in a *ngFor -->

                <div  class="option-container mt-5">
                    <div class="image-container columns">

                    </div>
                </div>

                <div class="routine columns">
                    <div class="column is-half pointer">
                        <img src="assets/images/unnamed--5--1@1x.png" alt="macchina" (click)="redirect('/vehicleControl')">
                    </div>

                    <div class="column is-half pl-6 pt-4">
                        <strong class="project-automotive-font"></strong>
                        <div class="columns mt-3">
                            <div class="column is-half">
                                <strong class="project-automotive-font">model</strong>
                                <br><br>
                                <strong class="project-automotive-font">plate</strong>
                                <br><br>
                                <strong class="project-automotive-font">enjoyers</strong>
                                <br><br>
                                <strong class="project-automotive-font">legalInfo</strong>
                                <br><br>
                                <strong class="project-automotive-font">hydrogen</strong>
                            </div>
                            <div class="column">
                                <strong class="project-automotive-font">{{ vehicle.type }}</strong>
                                <br><br>
                                <strong class="project-automotive-font">LP1629</strong>
                                <br><br>
                                <strong class="project-automotive-font pointer" (click)="goToEnjoyers(vehicle.vehicleId)">enjoyers</strong>
                                <br><br>
                                <strong class="project-automotive-font">empty</strong>
                                <br><br>
                                <strong class="project-automotive-font">45%</strong>
                            </div>
                        </div>

                    </div>

                </div>
            </div>



        </div>
    </div>
</div>

